{% extends 'base.html.twig' %}

{% block title %}Dodawanie przepisu{% endblock %}

{% block body %}
        {{ form(form) }}
        <a href="{{ path('app_ingredients') }}">
            <button class="btn">Dodaj więcej typów składników</button>
        </a>
{% endblock %}
