<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">{{ name }}</h2>
        <p>{{ description }}</p>
        <div class="card-actions justify-end">
            <a href="/recipe/{{ id }}">Zrób to</a>
        </div>
    </div>
</div>